<div class="ecaps-sidenav" id="ecapsSideNav">
  <!-- Side Menu Area -->
  <div class="side-menu-area">
      <!-- Sidebar Menu -->
      <nav>
          <ul class="sidebar-menu" data-widget="tree">
              <li><a href="javascript:void(0)" (click)="navMenu('/exams/available')"><i class="bx bx-home"></i><span>Inicio</span></a></li>
              <!-- <li class="treeview">
                  <a href="javascript:void(0)"><i class="bx bx-list-ul"></i><span>Exámenes</span> <i class="fa fa-angle-right"></i></a>
                  <ul class="treeview-menu">
                      <li><a href="basic-table.html">Basic Table</a></li>
                      <li><a href="filter-table.html">Filter Table</a></li>
                      <li><a href="data-table.html">Data Table</a></li>
                      <li><a href="edit-table.html">Edit Table</a></li>
                  </ul>
              </li> -->
          </ul>
      </nav>
  </div>
</div>