    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="main-content- h-100vh">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                 <div class="col-sm-10 col-md-7 col-lg-5">
                    <!-- Middle Box -->
                    <div class="middle-box">
                        <div class="card">
                            <div class="log-header-arae bg-img d-flex align-items-center p-3 primary-color-overlay height-130" style="background-image: url(./assets/img/bg-img/7.jpg)">
                                <!-- Logo -->
                                <h4 class="font-22 mb-0 text-white text-center">
                                    <img src="./assets/images/logo-white.png" style="width: 60%;">
                                </h4>

                            </div>
                            <div class="card-body p-4">
                                <form action="#" action="#" [formGroup]="formGroup">
                                    <div class="form-group">
                                        <label class="lock-text text-dark">New Password</label>
                                        <input type="password" autocomplete="false" [disabled]="verifyToken" class="form-control" id="examplePassword1" placeholder="New Password" formControlName="newPassword">
                                        <label *ngIf="f.newPassword.errors && f.newPassword.errors.minlength" id="cname-error" class="error mt-2 text-danger" for="cname">
                                            <div *ngIf="f.newPassword.errors.minlength">La clave debe contener mínimo 6 dígitos</div>
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Confirm Password</label>
                                        <input class="form-control" autocomplete="false" [disabled]="verifyToken" type="password" required id="password" placeholder="Confirm Password" formControlName="confirmPassword">
                                        <label *ngIf="f.confirmPassword.errors && f.confirmPassword.errors.mustMatch" id="cname-error" class="error mt-2 text-danger" for="cname">
                                            <div *ngIf="f.confirmPassword.errors.mustMatch">La clave no coincide</div>
                                        </label>    
                                    </div>

                                    <div class="form-group mb-0">
                                        <button [disabled]="verifyToken" class="btn btn-primary btn-block" (click)="onSubmit()" type="button">
                                            <span *ngIf="submit" class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span> 
                                            Done
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
